/* styles/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: cursive;
  background: linear-gradient(to bottom, #5100a3, #ffffff);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  text-align: center;
  color: #12e3d0;
}

h3 {
  color: #5100a3;
}

p {
  text-align: center;
  font-size: 16px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.product {
  background-color: #3672bd;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.product img {
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#cart-items li {
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  background-color: #5100a3;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#clear-cart {
  margin-top: 20px;
}

#translate-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #ffffff;
  color: #5100a3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
