@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #f4f4f4;
    padding: 0px 20px;
    
}

#main-header {
    background-color: #333;
    color: #fff;
    text-align: center;

}

.main-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#main-nav {
    margin-bottom: 20px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link { 
    text-decoration: none;
    color:#333;
    font-weight: bold;
}

.content-section {
    margin-bottom: ;
}

.section.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    margin-bottom: 20px;
    gap: 20px
}

